html {
  box-sizing: border-box;
}
* {
  justify-content: center;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
  grid-gap: 10px;
  background-color: #aab0b5;
}

.body__dark {
  display: grid;
  grid-template-rows: 60px auto 60px;
  height: 100vh;
  grid-gap: 10px;
  background-color: #313b2f;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

p {
  padding: 5px;
}
