:root {
  --body-color: white;
  --main-color: #a0d9d9;
  --header-color: #d9b166;
  --footer-color: #d9b166;
  /* --card-color: #F28705; */
  --tag-color: #a62d2d;
  --answer-color: #d9b166;
  --bookmark-color: #a62d2d;
  --bookmark-color-active: #d9b166;
  --tag-color: #d9b166;

  --body-color-dark: #494846;
  --main__color-dark: #858377;
  --header-color-dark: #e8e8db;
  --footer-color-dark: #e8e8db;
  /* --card-color-dark:  */
  --button-color-dark: #ffdf65;
  --answer-color-dark: #ffdf65;
  --bookmark-color-dark: #ffdf65;
}

html {
  box-sizing: border-box;
}
* {
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

p {
  padding: 5px;
}
