.bookmark {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0;
  height: 60px;
  border-color: var(--bookmark-color);
  border-style: solid;
  border-width: 20px;
  border-bottom-color: var(--main-color);
  border-radius: 5px;
}

.bookmark--active {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0;
  height: 60px;
  border-color: var(--bookmark-color-active);
  border-style: solid;
  border-width: 20px;
  border-bottom-color: var(--main-color);
  border-radius: 5px;
}

.bookmark--dark {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0;
  height: 60px;
  border-color: var(--bookmark-color);
  border-style: solid;
  border-width: 20px;
  border-bottom-color: var(--main-color);
  border-radius: 5px;
}

.bookmark--active--dark {
  position: absolute;
  top: 0px;
  right: 40px;
  padding: 0;
  height: 60px;
  border-color: var(--bookmark-color-active);
  border-style: solid;
  border-width: 20px;
  border-bottom-color: var(--main-color);
  border-radius: 5px;
}
