#buttonHome {
  padding: 0;
  border: none;
  background: none;
}

#buttonBookmarks {
  padding: 0;
  border: none;
  background: none;
}

#buttonCreate {
  padding: 0;
  border: none;
  background: none;
}

#buttonProfile {
  padding: 0;
  border: none;
  background: none;
}
