.card--create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  height: 700px;
  padding-right: 50px;
}

.card__hidden {
  display: none;
}

.card__button {
  margin: 10px;
  height: 30px;
  width: 100px;
  background-color: var(--answer-color);
}

/* .card__button:hover {
    .card__hidden {
        visibility: visible;
    } 
}*/
