.create__card--style {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.create__card--question {
  margin: 4px;
  width: 180px;
  text-align: center;
}

.create__card--answer {
  margin: 4px;
  width: 120px;
  height: 80px;
  text-align: center;
}

.create__card--tag {
  margin: 20px;
  width: 180px;
  text-align: center;
}

.create__button {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background-color: #d9d0c1;
}
