footer {
  width: 400px;
  height: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0px 20px 10px 20px;
  padding: 10px 20px 10px 20px;
  background-color: #f2d857;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.footer--hidden {
  display: none;
}

.footer__button--home {
  padding: 0;
  border: none;
  background: none;
}

.footer__button--bookmarks {
  padding: 0;
  border: none;
  background: none;
}

.footer__button--create {
  padding: 0;
  border: none;
  background: none;
}

.footer__button--profile {
  padding: 0;
  border: none;
  background: none;
}
