main {
  overflow: scroll;
  padding: 0px;
  margin: 0 auto;
}

.main.main--hidden {
  display: none;
}

.main__card--styling {
  position: relative;
  min-height: 100px;
  max-height: 250px;
  min-width: 350px;
  max-width: 350px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 40px;
  background-color: var(--main-color);
  text-align: center;
  flex-direction: column;
  padding-right: 50px;
}

.main__card--dark {
  color: white;
  position: relative;
  min-height: 100px;
  max-height: 250px;
  min-width: 350px;
  max-width: 350px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px;
  padding: 40px;
  background-color: var(--main__color-dark);
  text-align: center;
  flex-direction: column;
  padding-right: 50px;
}
